@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@charset "utf-8";
/* nanum-gothic-regular - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/nanum-gothic-v17-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('fonts/nanum-gothic-v17-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nanum-gothic-v17-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nanum-gothic-v17-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/nanum-gothic-v17-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('fonts/nanum-gothic-v17-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nanum-gothic-v17-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nanum-gothic-v17-latin_korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/nanum-gothic-v17-latin_korean-800.eot'); /* IE9 Compat Modes */
  src: local('Nanum Gothic ExtraBold'), local('Nanum Gothic-ExtraBold'),
       url('fonts/nanum-gothic-v17-latin_korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nanum-gothic-v17-latin_korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nanum-gothic-v17-latin_korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: "M Gothic";
    font-family: "맑은 고딕";
    font-family: "돋움";
    src: url('/assets/css/font/NanumGothic.eot');
    src: local('Nanum Gothic'), local('NanumGothic'), url('/assets/css/font/NanumGothic.eot?#iefix') format('embedded-opentype'),
    url('/assets/css/font/NanumGothic.woff') format('woff'),
    url('/assets/css/font/NanumGothic.ttf') format('truetype');
}


body {opacity: 0;}
.wrap {font-family: "Nanum Gothic","맑은 고딕","돋움"; position: fixed; width:100%; height:100%; background:#140f0b url('../img/common/tot_bg.jpg') no-repeat; background-size: cover;}

/*상담고정 레이어 */
#menu_fixed {	height:40px;	width:100%;	color: #555;	font-size:12px;	position:fixed;	z-index:999;	top:0px;	left:0px;	background-color:#382e2c;}
#menu_fixed .ci {position:absolute; top:-3px; left:10px; padding:10px 0 5px 0; transparent:25%; }
#menu_fixed .p_link {position:absolute; left:calc(50% - 245px); color:#6e5e54; font-family: Nanum Gothic; padding-top: 10px}
#menu_fixed .p_link li{display:inline-block; float:left; padding-left:5px }
#menu_fixed .p_link li a{color:#8d8078; text-decoration:none; font-size:16px; }
#menu_fixed .p_link li a:hover {color:#644d32;}
#menu_fixed .p_link li span {width:20px; height:10px; font-size:10px; background-color:#8d8078; border-radius:8px; padding:0 3px !important}
#menu_fixed .link {position:absolute; top:8px; right:10px}
#menu_fixed .link li{display:inline-block; float:left; padding-left:10px }


/*상담고정 레이어 */
#footer_fixed {	height:40px;	width:100%;	color: #555; text-align: center; color:#fff;	font-size:1.25em;	position:fixed;	z-index:998;	bottom:0px;	left:0px;	background-color:#382e2c;}
#footer_fixed .sty_home {float:left; border-radius:2px; border:1px solid #9c9796; padding: 3px 5px 3px  5px}
#footer_fixed .sty_home a {color:#9c9796; font-weight: bold; text-decoration:none }
#footer_fixed .sty_home a:hover {color:#fff}
#footer_fixed .sty_go {float:left; margin:0 10px; border-radius:2px; border:1px solid #9c9796; padding: 0  5px 6px  5px}

nav {width:100%; height:40px; margin:0; background:##170f06; padding:0 0 5px 40%}
.nav-btn {display:inline-block, height:40px; width:20%; margin:0; line-height:40px}
nav a:link, nav a:visited {font-size:2em; color:#fff; text-decoration;none; text-align:center}

.rec_wrap {position: fixed; width:100%; height:100%; background:#140f0b url('../img/rec/list_bg.jpg') no-repeat; background-size: cover;}

.main {
    display: table-cell;
    vertical-align: middle;
    width:100px;
    height:100px;
    background-color: aqua;
    color:#fff
}
.m_left {
    float:left;
    width:auto;
    height:calc(100% - 240px);
    height:-moz-calc(100% - 240px);
    height:-webkit-calc(100% - 240px);
}
.m_right {float:right; height:50%}
.m_img {margin:0 auto;  height:50%}

.w1200 {width:1200px !important}
.mgc{clear:both; text-align:center; color:#fff}
.grp_mgc{width:330px; margin:0 auto}
.mgts{margin-top:300px !important}
.mgl50{margin-left:50px !important}
.mgt0{margin-top:0 !important}
.mgt15 {margin-top:15px !important}
.mgt20 {margin-top:20px !important}
.mgt-30{margin-top:-30px !important}
.mgt30{margin-top:30px !important}
.mgt50{margin-top:50px !important}
.mgbs{margin-bottom:30px !important}
.mgb0{margin-bottom:0 !important}
.mgl0{margin-bottom:0 !important}
.pdt10{padding-top:10px !important}
.w250 {width:250px !important}
.w280 {width:280px !important}
.w100 {width:100px !important}
.bdt {border-top:1px solid #463629; margin-top:3px}
.bdb {border-bottom:1px solid #463629}
.bdtb {border-top:1px solid #463629; border-bottom:1px solid #463629;  margin-top:3px;  margin-bottom:3px}


.contents {  padding:30px 55px 70px 230px; }
.table_cover { margin-bottom:50px; }
.list_table { }
.list_table th { padding:8px; border-bottom:1px solid #4d89eb; border-top:3px solid #4d89eb; background:url('../img/th_bg.png') 0 0 repeat-x; box-sizing:border-box; }
.list_table th:first-child { border-left:3px solid #4d89eb; }
.list_table th:last-child { border-right:3px solid #4d89eb; }
.list_table td { padding:8px; text-align:center; background:url('../img/hr_dot.png') 0 bottom repeat-x;}
.list_table tr:nth-child(even) { background:#f4f9fd; }
.list_table tr:nth-child(odd) { background:#fff; }

.pop_menu {  display:none; position:absolute; top:9px; left:20px; width:680px; border:5px solid #3282ce; background:#fff; }
.pop_menu .title { position:relative; padding:0 5px 5px 20px; background:#277bcc; color:#fff; font-size:18px; }
.pop_menu .title div { position:absolute; top:8px; right:10px; }
.pop_list > div { display:inline-block; margin:20px 0; padding:15px 40px; width:80px; border-left:5px solid #f6f6f6; }
.pop_list dl { margin-bottom:30px; }
.pop_list dt { padding-bottom:15px; color:#277bcc; font-size:14px; font-weight:600; }
.pop_list dd { padding-bottom:7px; color:#000; font-size:12px; font-weight:600; }

.popup {position:absolute; left:50%;  top:9000px; transform:translate(-50%, -50%); width:1000px; height:800px; box-shadow: 2px 2px 10px rgba(0,0,0, 0.5 ); border-radius: 5px;text-align: right; padding:20px; box-sizing:border-box; background: #fff; opacity:0;
                 transition:all 0.5s; z-index:5; transition:all 0.5s}
.popup a{color:grey; text-decoration: none}
.popup:target{opacity:1;}
.popup:target + .dim {opacity:1; z-index:2}
.dim {position: absolute; left:0; top:0; z-index:5; width:100%; height:100vh; background: rgba(0,0,0,0.6); opacity:1; }
.h4 {color:#fff; font-size: 30px;  font-family: Nanum Gothic; line-height: 35px; text-align: center; }
.div {font-family: Nanum Gothic; }
.cmt {color:#fff; font-size: 18px; font-family: Nanum Gothic; line-height:30px; text-align: center;}
.cmt_pt {color:#ff6600}
.chapter01 {background:url('../img/old.jpg')no-repeat top fixed; background-size: cover; margin:-10px 0; padding-top:30px}
.c01_bk {display: table; width:1080px; text-align: left; font-family: Nanum Gothic; font-size:22px; color:#fff; font-weight:700; line-height:35px; margin:0 auto; padding-top:300px}
.c01_bk p{padding-bottom:20px}
.c01_tlt {font-family: Nanum Gothic; font-size:1.25em; background-color: #fff; color:#140c09; font-weight: 600; text-align: left; line-height:1.5em; padding:3px 5px; margin-bottom:10px }
          .c01_tlt p{font-size:18px; line-height:18px}
          .c01_cmt {display:block; font-family: Nanum Gothic; font-size:35px; color:##d19b5c; font-weight: 500; text-align: center; line-height:45px; padding:10px 10px 0 10px; }
          .c01_cmt p {color:#fff; font-size:20px; line-height: 30px}

          .c01_m_bk {display:block; font-family: 맑은 고딕; font-size:1.5em; color:#fff; text-align: center; line-height:1.5em; padding-bottom:20px}


          .c01_m_tlt {display:block; font-family: 맑은 고딕; color:#f09e34; font-size:1.5em !important; text-align: center; line-height:1.5em; padding:10px 10px 0 10px; text-decoration: underline;}

          .m_blk {width:100%; height:100%; margin-top:-30px; padding-top:20px; text-align: center; font-size:2em; color:#fff; font-weight:500; line-height:2em}
          .m_navi {display:inline-block; width:31%; text-align:center; font-size:1.25em; line-height:1.5em; padding:5px; border-radius:3px; background: rgba(0,0,0,0.6);  margin-top:5px}
          .m_navi a {color:#fff}
          .m_navi a:hover {background: rgba(0,0,0,0.8); color:#fff; text-decoration: none;}
          .m_chapter	{padding-top:130px; font-size:18px; color:#fff; }
          .m_chapter span {border:1px solid #fff; padding:3px 15px}
          .m_tlt {margin:0 auto; width:auto; font-size:1.5em; color:#fff; font-family: Nanum Gothic;  font-weight:600; }
          /*.m_tlt span{border:5px solid #fff; padding:10px 30px} */
          .m_tlt span{padding:0 20px; background: rgba(0,0,0,0.6)}
          .sub_bk {display: table; width:85%; margin:0 auto; text-align: left; font-size:1.2em; color:#fff; font-weight:500; line-height:1.5em;}
          .sub_bk p{color:#fff; font-size:1.2em; line-height: 1.3em; padding-bottom:20px}

          .inst_go {margin:20px auto; width:95%}
          .inst_go img {margin-right:10px}
          .sub_bk_2 {display: table; width:95%; margin:300px auto 0 auto; text-align: left; font-family: Nanum Gothic; font-size:22px; color:#fff; font-weight:500; line-height:35px; }
          .sub_bk_2 p{padding-bottom:20px}
          .sub_bk_01 {display: table; width:95%; height:auto; text-align: left; font-family: Nanum Gothic; font-size:22px; color:#fff; font-weight:500; line-height:35px; margin:10px auto 10px }
          .sub_bk_01 p{padding-bottom:20px}
          .sub_tlt {display:block; font-family: 맑은 고딕; font-size:1.5em; color:#fff; text-align: left; line-height:1.5em; padding-bottom:20px}

          .sub_c_bk {display: table; width:95%; margin:0 auto; text-align: center; font-family: Nanum Gothic; font-size:1.25em; letter-spacing: 0.5px; color:#fff; font-weight:500; line-height:40px;}
          .sub_c_bk p{color:#fff; font-size:1.25em; line-height: 1.5em; letter-spacing: 0.5px; padding-bottom:10px}
          .sub_c_tlt {display:block; font-family: 맑은 고딕; font-size:1.5em; color:#fff; text-align: center; line-height:1.4em; padding-bottom:5px}

          .sub_2col_bk {display: table; width:50%; float:left; }
          .p_line {display:inline-block; height:auto; float:left; padding:0 35px}
          .p_3line {display:inline-block; height:auto; float:left; padding:0 3px}



          .g_tlt_bg {display:block; width:auto; margin-top:30px; padding:10px 0 0 10px; height:74px; background:url('../img/story/g_title_bg.png') no-repeat top left; font-size:1.4em; line-height:1em !important}
          .g_tlt_sub {font-size:0.7em}
          .g_tlt2_bg {display:block; width:auto; padding:10px 40px; height:94px; background:url('../img/story/g_title_bg.png') no-repeat top left;}

          .img_cmt {display:block; margin:5px auto; width:auto; font-size:1em !important; line-height:1em !important; padding:5px 20px !important; }
          .img_cmts {display:block; margin:0 auto; width:190px; height:auto; background-color: #251708; color:#fff; font-size:1em !important; line-height:1.5em !important; padding:5px 0 !important; }
          .img_cmt_l {display:block; margin:0 auto; width:210px; height:auto; text-align: left; background-color: #ddd; color:#fff; font-size:14px; line-height:14px;}
          .img_cmt_l p{padding:15px}

          .intv {display:table; width:100%; height:auto; float:left; border-top:1px solid #3e362a}
          .intv:last-child {display:table; width:100%; height:auto; float:left; border-top:1px solid #3e362a ; border-bottom:1px solid #3e362a; margin-bottom: 30px}
          .intv_img {display:inline-block; width:80px; float:left;  padding:5px 0 !important; }
          .intv_img img {width:80%}
          .intv_cmt {display:inline-block; width:calc(100% - 90px); float:left; height:auto; text-align: left; color:#fff; font-size:1em; padding-top:20px}
          .intv_cmt a{color:#fff}
          .intv_cmt a:hover{color:#a79c8b; text-decoration: none}

          .link_wrap {display:table; width:100%; height:auto; float:left; border-top:1px solid #3e362a}
          .link_wrap:last-child {display:table; width:100%; height:auto; float:left; border-top:1px solid #3e362a ; border-bottom:1px solid #3e362a; margin-bottom: 30px}
          .link_img {display:inline-block; width:60px; float:left;  padding:5px 0 !important; }
          .link_cmt {display:inline-block; width:calc(100% - 90px); float:left; height:auto; text-align: left; color:#fff; font-size:1em; line-height:1.25em; padding:5px 0 0 10px}
          .link_cmt a{color:#fff}
          .link_cmt a:hover{color:#a79c8b; text-decoration: none}

          .btn_wrap {width:100%}
          .btn_inst {display:inline-block; float:left; margin:5px; width:210px; padding:10px 3px 10px 50px; font-size:1.2em; color:#ffdf91; font-family: Nanum Gothic; font-weight:600; border:2px solid #ffdf91; background: url('../img/story/icon_ins.png') 7px center no-repeat !important;}

          .sub_m_bk {display: table; width:95%; margin:0 auto; text-align: left; font-family: Nanum Gothic; font-size:1.25em; letter-spacing: 0.5px; color:#fff; font-weight:500; line-height:40px; }
          .sub_m_bk p{padding-bottom:50px; color:#fff}
          .sub_m_tlt {display:block; font-size:45px; color:#fff; font-weight: 500; text-align: center; line-height:55px; padding-bottom:20px; letter-spacing: -2px}
          .itw_blk {display:table; width:100%; height:auto; background-color: #251708; padding:10px 30px;  border-radius: 10px; margin-bottom:20px}
          .itw_blk_cmt {font-size:1em; padding-left:20px}

          .end_tbl {width:auto; margin:30px auto;  font-size:1.25em; line-height: 1.5em}
          .end_tbl tr{padding:2px 0;}
          .end_tbl th{font-family: Nanum Gothic; color:#ffdf91; font-size:1.25em; border-right:1px solid #666; text-align: right; padding-right:10px}
          .end_tbl td{color:#fff; height:20px; padding-left:10px; }

          .udt_date{color:#ffdf91 !important; font-size:14px; text-align: center}
          .ess {color:#ffc06e !important;  }
          .ess_s1 {color:#ffc06e; text-decoration: underline;}

          .list_bk {display: table; height:auto; text-align: left; margin-bottom:30px; }
          .list_bk p{padding-bottom:5px; border-bottom:1px solid #3a321e}

          .mv_img {display:flex; clear:both;}
          .mv_img div {float:left; margin-bottom:10px}
          .c02_m_bk {display: table; font-family: Nanum Gothic; width:1080px; margin:0 auto;  text-align: center; font-family: Nanum Gothic; font-size:28px; color:#fff; font-weight:500; line-height:38px; }
          .c02_m_bk p{padding:10px; }
          .c02_m_tlt {display:block; color:#d19b5c;  font-size:35px !important; text-align: center; line-height:45px; padding:10px 10px 0 10px; text-decoration: underline;}
          .c02_m_tlt span{color:#d19b5c; text-decoration: underline;}

.grh_cmt {margin:0 0 30px 50px !important}
.grh_cmt li{margin:0; padding:0; font-size:1em; color:#fff}

/* 기록물 모아보기 */

.rec_view {width:100%; height:100% !important; border:0; padding:0; margin:0;  background:url('../img/rec/list_bg.jpg') no-repeat top fixed; background-size: cover}

.list_wrap {width:85%; height:100%;  margin:0 auto}
.list_tlt {font-family: Nanum Gothic; width:100%; text-align: center; font-size:1.8em; padding:60px 0 20px 0; font-weight:bold; color:#fff}
.list_tab_a {display:table-cell; float:left; width:120px; margin-top: 9px; padding:10px 0; text-align: center; background-color:#ff6600; font-size:1.5em; color:#fff; font-weight:bold; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-right:2px}
.list_tab_a a{color:#fff}
.list_tab {display:table-cell; float:left; width:120px;  margin-top: 9px; padding:10px 0; text-align: center; background-color:#ddd; font-size:1.5em; color:#666; font-weight:bold; vertical-align: middle; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-right:2px}
.data_sum {float:right; font-size:1.2em; color:#fff; padding-top:30px}
.list {font-family: Nanum Gothic; width:100%; border-top:2px solid #333; color:#333; background-color: #fff}
.list thead th {font-size:1.8em; font-weight:bold; padding:10px 0}
.list td {text-align: center; padding:5px 0; }


.list tr:nth-child(even) {border-bottom:1px solid #666;}
.list tr:nth-child(odd) {border-bottom:1px solid #ddd;}

.list .num {font-size:1em; text-align: left; padding-left:10px}
.list .pto {text-align: center; border-bottom: 1px solid #666}
.list .pto img {width:60px; height:45px; border:1px solid #ddd}
.list .subj {font-size:1.2em; text-align: left; line-height: 1.3em}
.list .org {font-size:1em; text-align: center; }
.list .subj a:hover{font-weight:bold}
.list .down {text-align: right; padding-right:10px}

.list .v_subj {font-size:1.5em; text-align: center; font-weight: bold; line-height: 1.5em; padding:0 10px}
.list .v_text {font-size:20px; text-align: center; min-height: 500px; padding:20px 0}
.list .v_text img {width:90%; border:1px solid #ddd; margin:5px 0}
.list .v_text p {margin-bottom:50px}

.page_wrap_y {width:100px; margin:30px auto}
.page_wrap_e {width:130px; margin:30px auto}
.page_num {padding:5px 10px; background-color:#666; font-size:16px; color:#fff !important;}
.page_num a{color:#fff}
.page_num_a {padding:5px 10px; background-color:#ff6600; font-size:16px; color:#fff;}
.page_num_a a{color:#fff}
.page_go {padding:5px 10px; background-color:#ddd; font-size:16px; color:#333}
.page_go a:hover{ background-color:#666;  color:#fff}
.page_blk {width:200px; margin:30px auto}
.page_pn {padding:5px 10px; background-color:#ddd; font-size:12px; color:#333}
.page_pn a:hover{ background-color:#666;  color:#fff}
.page_list {padding:5px 10px; background-color:#ff6600; font-size:16px; color:#fff;}
.page_list a {color:#fff; font-weight:700}

.pbody {border:0; padding:0; margin:0; box-sizing: border-box}
.pbody h1 {width:100%; margin:0;  padding:25px 0; color:#fff; font-size:1.8em; text-align: center; background:#382e2c; vertical-align: center}
.pwrap {width:100%; margin:0; padding:0 }

.aTbl {width:90%; margin:0 auto}
.aTbl th{font-weight:600; font-size:1.8em; margin-bottom:30px}
.aTbl .tlt{font-weight:600; font-family:Nanum Gothic; font-size:1.25em; line-height:1.25em; margin-bottom:30px}
.aTbl span{font-weight:600; font-size:1.25em}
.aTbl p{margin-bottom: 20px}
.aTbl td {font-size:1.5em; font-family:Nanum Gothic; line-height:1.5em; padding:20px; letter-spacing: 0.1px; font-weight: 500;}
.aTbl .cimg {max-width:100%; text-align: center}
