html {
  font-size: calc(100 / 1920 * 1vw);
}
@media (min-width: 1920px) {
  html {
    font-size: 1px;
  }
}

.gb_body {
  background: url(../images/bg_green_board.png) no-repeat center/cover;
  background-attachment: fixed;
}

/* lg 관련 */
.lg-download,
.lg-sub-html {
  display: none !important;
}
.pop_video .lg-outer .lg-inner {
  top: 70px;
  height: calc(100% - 70px);
}
.pop_video .lg-outer .lg-video {
  padding-bottom: calc(100vh - 70px);
}
.pop_video #lg-counter,
.pop_video #lg-actual-size,
.pop_video #lg-zoom-out,
.pop_video #lg-zoom-in {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48rem;
  padding: 0 40rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.header .head_con {
  width: 100%;
  max-width: 1720rem;
  margin: 0 auto;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo .logo_main {
  width: 82rem;
  height: 20rem;
  background: url(../images/logo_main.svg) no-repeat center/contain;
}
.header .logo .logo_sub {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16rem;
  line-height: 20rem;
  font-weight: 700;
  font-family: "NanumSquare";
  opacity: 0.8;
}
.header .logo .logo_sub::before {
  content: "";
  width: 1px;
  height: 16rem;
  margin: 0 12rem;
  background: #fff;
}

.ico_scroll {
  position: fixed;
  bottom: 18rem;
  left: 50%;
  width: 26rem;
  height: 50rem;
  margin-left: -13rem;
  background: url(../images/ico_scroll.svg) no-repeat center/contain;
  z-index: 20;
  animation: scrollMoveUpDown 1s ease-in-out infinite;
  pointer-events: none;
}
@keyframes scrollMoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8rem);
  }
  100% {
    transform: translateY(0);
  }
}

.section .btn_fp_prev {
  position: absolute;
  top: 48rem;
  right: 0;
  left: 0;
  height: 1px;
  background: #000;
  color: #fff;
  font-size: 20rem;
  line-height: 50rem;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  opacity: 0.01;
  z-index: 50;
}

.section .btn_fp_prev:focus {
  height: 50rem;
  opacity: 1;
}

.section .btn_fp_next {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #000;
  color: #fff;
  font-size: 20rem;
  line-height: 50rem;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  opacity: 0.01;
  z-index: 50;
}

.section .btn_fp_next:focus {
  height: 50rem;
  opacity: 1;
}

.inner_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 48rem;
  margin: 0 auto;
}

.fp_sec01 {
  max-width: 1620rem;
  padding-left: 30rem;
  padding-right: 30rem;
}
.fp_sec01 .txtbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-right: 30rem;
}
.fp_sec01 .txtbox .tag {
  color: #fff;
  font-size: 32rem;
  line-height: 46rem;
  font-weight: 700;
  font-family: "Hahmlet";
}
.fp_sec01 .txtbox .tit {
  margin-top: 11rem;
  color: #f9e5a0;
  font-size: 64rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Hahmlet";
}
.fp_sec01 .txtbox .txt {
  margin-top: 48rem;
  color: #fff;
  font-size: 24rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: "NanumSquare";
}
.fp_sec01 .imgbox {
  flex: none;
  margin-left: auto;
}
.fp_sec01 .imgbox img {
  width: 594rem;
}

.fp_sec02 {
  justify-content: center;
}
.fp_sec02::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 2;
  pointer-events: none;
}
.fp_sec02 .active_map {
  order: 2;
  position: relative;
  width: 832rem;
  height: 654rem;
  z-index: 5;
}
.fp_sec02 .active_map .map_img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.fp_sec02 .active_map .map_img.active {
  display: block;
}
.fp_sec02 .active_map .map_img:nth-child(1) {
  background-image: url(../images/sec02_map01.png);
}
.fp_sec02 .active_map .map_img:nth-child(2) {
  background-image: url(../images/sec02_map02.png);
}
.fp_sec02 .active_map .map_img:nth-child(3) {
  background-image: url(../images/sec02_map03.png);
}
.fp_sec02 .active_map .map_img:nth-child(4) {
  background-image: url(../images/sec02_map04.png);
}
.fp_sec02 .active_map .map_img:nth-child(5) {
  background-image: url(../images/sec02_map05.png);
}
.fp_sec02 .active_map .map_img:nth-child(6) {
  background-image: url(../images/sec02_map06.png);
}
.fp_sec02 .active_team {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 56rem;
  width: 448rem;
}
.fp_sec02 .active_team:nth-child(2) {
  order: 3;
}
.fp_sec02 .active_team > li {
  position: relative;
}
.fp_sec02 .active_team > li.active {
  z-index: 10;
}
.fp_sec02 .active_team > li.active .txtbox .total .btn_dtl {
  pointer-events: initial;
}
.fp_sec02 .active_team > li .inbox {
  display: flex;
  position: relative;
  width: 100%;
  height: 228rem;
  border: 4rem solid #000;
  border-radius: 12rem;
  background-color: #fff;
  box-sizing: border-box;
}
.fp_sec02 .active_team > li .tagbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: -17rem;
  left: 31rem;
  min-width: 112rem;
  height: 94rem;
  padding: 8rem 11rem 0;
  border-radius: 0 0 40rem 40rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.fp_sec02 .active_team > li .tagbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9rem;
  width: 9rem;
  height: 13rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.fp_sec02 .active_team > li .tagbox .ico {
  width: 38rem;
  height: 38rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.fp_sec02 .active_team > li .date {
  position: absolute;
  top: -24rem;
  right: 3rem;
  color: #fff;
  font-size: 14rem;
  line-height: 18rem;
  font-weight: 700;
  font-family: "NanumSquare";
  letter-spacing: -0.05em;
  opacity: 0.5;
}
.fp_sec02 .active_team > li .tagbox .txt {
  margin-top: 6rem;
  font-size: 20rem;
  line-height: 24rem;
  font-weight: 700;
  font-family: "NanumSquare";
}
.fp_sec02 .active_team > li .imgbox {
  flex: none;
  position: relative;
  width: 184rem;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  overflow: hidden;
}
.fp_sec02 .active_team > li .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fp_sec02 .active_team > li .txtbox {
  flex: 1;
  min-width: 0;
  padding: 20rem 32rem;
}
.fp_sec02 .active_team > li .txtbox .stit {
  display: block;
  color: #000;
  font-size: 16rem;
  line-height: 22rem;
  font-weight: 700;
  font-family: "NanumSquare";
}
.fp_sec02 .active_team > li .txtbox .total {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 28rem;
  line-height: 39rem;
  font-weight: 800;
  font-family: "NanumSquare";
  letter-spacing: -0.05em;
}
.fp_sec02 .active_team > li .txtbox .total .btn_dtl {
  flex: none;
  width: 32rem;
  height: 32rem;
  margin-left: auto;
  border-radius: 100%;
  background-color: #000;
  color: #fff;
  font-size: 16rem;
  line-height: 32rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  font-family: serif;
  pointer-events: none;
}
.fp_sec02 .active_team > li .txtbox .total .btn_dtl::before {
  content: ">";
}
.fp_sec02 .active_team > li .txtbox .dlbox {
  margin-top: 12rem;
  padding-top: 12rem;
  border-top: 1px solid #dedede;
}
.fp_sec02 .active_team > li .txtbox .dlbox dl {
  display: flex;
  color: #000;
  font-size: 14rem;
  line-height: 22rem;
  font-weight: 700;
}
.fp_sec02 .active_team > li .txtbox .dlbox dl + dl {
  margin-top: 2rem;
}
.fp_sec02 .active_team > li .txtbox .dlbox dl dt {
  margin-right: 4rem;
}

.fp_sec02 .active_team:nth-child(1) li:nth-child(1) .inbox {
  border-color: #ff8f2d;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(1) .tagbox {
  background-color: #ff8f2d;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(1) .tagbox::before {
  background-image: url(../images/sec02_before01.svg);
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(1) .tagbox .ico {
  background-image: url(../images/sec02_ico01.svg);
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(1) .txtbox .dlbox dl dt {
  color: #ff8f2d;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(2) .inbox {
  border-color: #69bd47;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(2) .tagbox {
  background-color: #69bd47;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(2) .tagbox::before {
  background-image: url(../images/sec02_before02.svg);
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(2) .tagbox .ico {
  background-image: url(../images/sec02_ico02.svg);
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(2) .txtbox .dlbox dl dt {
  color: #69bd47;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(3) .inbox {
  border-color: #539bc8;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(3) .tagbox {
  background-color: #539bc8;
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(3) .tagbox::before {
  background-image: url(../images/sec02_before03.svg);
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(3) .tagbox .ico {
  background-image: url(../images/sec02_ico03.svg);
}
.fp_sec02 .active_team:nth-child(1) li:nth-child(3) .txtbox .dlbox dl dt {
  color: #539bc8;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(1) .inbox {
  border-color: #f4795d;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(1) .tagbox {
  background-color: #f4795d;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(1) .tagbox::before {
  background-image: url(../images/sec02_before04.svg);
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(1) .tagbox .ico {
  background-image: url(../images/sec02_ico04.svg);
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(1) .txtbox .dlbox dl dt {
  color: #f4795d;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(2) .inbox {
  border-color: #ffc000;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(2) .tagbox {
  background-color: #ffc000;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(2) .tagbox::before {
  background-image: url(../images/sec02_before05.svg);
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(2) .tagbox .ico {
  background-image: url(../images/sec02_ico05.svg);
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(2) .txtbox .dlbox dl dt {
  color: #ffc000;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(3) .inbox {
  border-color: #7d67ce;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(3) .tagbox {
  background-color: #7d67ce;
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(3) .tagbox::before {
  background-image: url(../images/sec02_before06.svg);
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(3) .tagbox .ico {
  background-image: url(../images/sec02_ico06.svg);
}
.fp_sec02 .active_team:nth-child(2) li:nth-child(3) .txtbox .dlbox dl dt {
  color: #7d67ce;
}

[class*="fp_sec03"].inner_center,
[class*="fp_sec04"].inner_center {
  flex-direction: column;
}
.dtl_head {
  flex: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 146rem;
  padding-right: 100rem;
  padding-left: 100rem;
  background: url(../images/bg_dtl_head.png) no-repeat center bottom/cover;
}
.dtl_head .dtl_head_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1720rem;
  margin: 0 auto;
}
.dtl_head .title {
  color: #316459;
  font-size: 28rem;
  line-height: 36rem;
  font-weight: 700;
  font-family: "Hahmlet";
}
.dtl_head .title strong {
  color: #000;
}
.dtl_head .title_p {
  margin-top: 12rem;
  font-size: 16rem;
  line-height: 1.3;
  font-weight: 400;
}
.dtl_body {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 0;
  padding: 20rem 100rem;
}
.dtl_body .dtl_body_con {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1720rem;
  margin: 0 auto;
}
.dtl_body .title_flex {
  display: flex;
  align-items: center;
  position: relative;
}
.dtl_body .title_flex .title_box {
  flex: none;
  display: flex;
  align-items: center;
  position: relative;
  padding: 22rem 60rem 22rem 76rem;
  border: 4rem solid #000;
  border-radius: 12rem;
  background-color: #fff;
  box-shadow: 10rem 10rem 10rem 2rem rgba(0, 0, 0, 0.3);
}
.dtl_body .title_flex .title_box .icobox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: -15rem;
  left: 14rem;
  min-width: 62rem;
  height: 52rem;
  border-radius: 0 0 32rem 32rem;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center 8rem;
  background-size: 32rem auto;
  text-align: center;
}
.dtl_body .title_flex .title_box .icobox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6rem;
  width: 6rem;
  height: 11rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.fp_sec03_01 .dtl_body .title_flex .title_box {
  border-color: #ff8f2d;
}
.fp_sec03_01 .dtl_body .title_flex .title_box .icobox {
  background-color: #ff8f2d;
  background-image: url(../images/sec02_ico01.svg);
}
.fp_sec03_01 .dtl_body .title_flex .title_box .icobox::before {
  background-image: url(../images/sec02_before01.svg);
}
.fp_sec03_02 .dtl_body .title_flex .title_box {
  border-color: #f4795d;
}
.fp_sec03_02 .dtl_body .title_flex .title_box .icobox {
  background-color: #f4795d;
  background-image: url(../images/sec02_ico04.svg);
}
.fp_sec03_02 .dtl_body .title_flex .title_box .icobox::before {
  background-image: url(../images/sec02_before04.svg);
}
.fp_sec03_03 .dtl_body .title_flex .title_box {
  border-color: #69bd47;
}
.fp_sec03_03 .dtl_body .title_flex .title_box .icobox {
  background-color: #69bd47;
  background-image: url(../images/sec02_ico02.svg);
}
.fp_sec03_03 .dtl_body .title_flex .title_box .icobox::before {
  background-image: url(../images/sec02_before02.svg);
}
.fp_sec03_04 .dtl_body .title_flex .title_box {
  border-color: #ffc000;
}
.fp_sec03_04 .dtl_body .title_flex .title_box .icobox {
  background-color: #ffc000;
  background-image: url(../images/sec02_ico05.svg);
}
.fp_sec03_04 .dtl_body .title_flex .title_box .icobox::before {
  background-image: url(../images/sec02_before05.svg);
}
.fp_sec03_05 .dtl_body .title_flex .title_box {
  border-color: #539bc8;
}
.fp_sec03_05 .dtl_body .title_flex .title_box .icobox {
  background-color: #539bc8;
  background-image: url(../images/sec02_ico03.svg);
}
.fp_sec03_05 .dtl_body .title_flex .title_box .icobox::before {
  background-image: url(../images/sec02_before03.svg);
}
.fp_sec03_06 .dtl_body .title_flex .title_box {
  border-color: #7d67ce;
}
.fp_sec03_06 .dtl_body .title_flex .title_box .icobox {
  background-color: #7d67ce;
  background-image: url(../images/sec02_ico06.svg);
}
.fp_sec03_06 .dtl_body .title_flex .title_box .icobox::before {
  background-image: url(../images/sec02_before06.svg);
}

.dtl_body .title_flex .title_box .title {
  font-size: 24rem;
  line-height: 24rem;
  font-weight: 900;
  font-family: "NanumSquare";
}
.dtl_body .title_flex .title_box .title_p {
  margin-left: 16rem;
  color: #656565;
  font-size: 20rem;
  line-height: 20rem;
  font-weight: 700;
  font-family: "NanumSquare";
}
.dtl_body .title_flex .view_all {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 20rem 0 16rem;
  border-radius: 24rem;
  background-color: #408f7d;
  color: #fff;
  font-size: 16rem;
  line-height: 48rem;
  font-weight: 700;
  font-family: "NanumSquare";
}
.dtl_body .title_flex .view_all::before {
  content: "";
  flex: none;
  width: 20rem;
  height: 20rem;
  margin-right: 4rem;
  background: url(../images/ico_20_photo_white.svg) no-repeat center/contain;
}

.dtl_body .cont_box {
  position: relative;
  margin-top: 40rem;
}
.dtl_body .cont_box .tc_item {
  display: flex;
  position: absolute;
  background-color: #fff;
  box-shadow: 10rem 10rem 10rem 0rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.dtl_body .cont_box .tc_item.coffee_life {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
.dtl_body .cont_box .tc_item .txt_img {
  display: flex;
}
.dtl_body .cont_box .tc_item .txtbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24rem;
}
.dtl_body .cont_box .tc_item .txtbox .tit {
  color: #ffc000;
  font-size: 22rem;
  line-height: 1;
  font-weight: 800;
  font-family: "Hahmlet";
}
.dtl_body .cont_box .tc_item .txtbox .txt {
  margin-top: 20rem;
  font-size: 16rem;
  line-height: 1.3;
  font-weight: 400;
  font-family: "NanumSquare";
  letter-spacing: -0.03em;
}
.dtl_body .cont_box .tc_item .imgbox {
  flex: none;
  position: relative;
}
.dtl_body .cont_box .tc_item .imgbox img {
  object-fit: cover;
}
.dtl_body .cont_box .tc_item .imgbox .desc {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12rem;
  background: #fff;
  font-size: 16rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: "NanumSquare";
  text-align: center;
  box-shadow: 10rem 10rem 10rem 2rem rgba(0, 0, 0, 0.2);
}
.dtl_body .cont_box .tc_item .imgbox .in_tit {
  display: block;
  margin-bottom: 28rem;
  font-size: 22rem;
  line-height: 1;
  font-weight: 800;
  font-family: "Hahmlet";
}
.dtl_body .cont_box .tc_item .imgbox .in_txt {
  display: block;
  margin-top: 16rem;
  font-size: 14rem;
  line-height: 18rem;
  font-weight: 400;
}
.dtl_body .cont_box .tc_plan .tc_item {
  padding: 8rem;
}
.dtl_body .cont_box .tc_plan .tc_item::before {
  content: "";
  position: absolute;
  top: 8rem;
  right: 8rem;
  bottom: 8rem;
  left: 8rem;
  box-shadow: 0rem -0.945rem 7.562rem 2.386rem rgba(0, 0, 0, 0.25) inset;
  z-index: 5;
}
.dtl_body .cont_box .tc_plan .tc_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plan_txt {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10rem 30rem 10rem 15rem;
  background-color: #f8eec9;
  box-shadow: 1.869rem 1.869rem 9.345rem 1.869rem rgba(0, 0, 0, 0.1);
  font-size: 14rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: "NanumSquare";
  z-index: 10;
  pointer-events: none;
}
.plan_txt em {
  display: block;
  font-weight: 800;
}

/* tc01 */
.dtl_body .cont_box.tc01 {
  height: 560rem;
  margin-bottom: 74rem;
}

.tc01_plan .tc_item {
  top: 0;
  left: 0;
  width: 402rem;
  height: 560rem;
}

.tc01_post .tc_item:nth-child(1) {
  top: 0;
  left: 418rem;
  width: 598rem;
  height: 176rem;
}
.tc01_post .tc_item:nth-child(1) img {
  width: 237rem;
}
.tc01_post .tc_item:nth-child(2) {
  top: 0;
  left: 1032rem;
  width: 687rem;
  height: 176rem;
}
.tc01_post .tc_item:nth-child(2) img {
  width: 237rem;
}
.tc01_post .tc_item:nth-child(3) {
  top: 192rem;
  left: 418rem;
  width: 546rem;
  height: 176rem;
}
.tc01_post .tc_item:nth-child(4) {
  top: 192rem;
  left: 980rem;
  width: 740rem;
  height: 176rem;
}
.tc01_post .tc_item:nth-child(4) img {
  width: 297rem;
}
.tc01_post .tc_item:nth-child(5) {
  top: 384rem;
  left: 418rem;
  width: 624rem;
  height: 176rem;
}
.tc01_post .tc_item:nth-child(5) img {
  width: 228rem;
}
.tc01_post .tc_item:nth-child(6) {
  top: 384rem;
  left: 1059rem;
  width: 661rem;
  height: 176rem;
}
.tc01_post .tc_item:nth-child(6) img {
  width: 228rem;
}
.tc01_txt01 {
  position: absolute;
  bottom: -74rem;
  left: 50%;
  color: #f8eec9;
  font-size: 26rem;
  line-height: 34rem;
  font-weight: 700;
  font-family: "Hahmlet";
  white-space: nowrap;
  transform: translateX(-50%);
}

/* tc02 */
.dtl_body .cont_box.tc02 {
  height: 694rem;
}

.tc02_plan .tc_item {
  top: 0;
  left: 0;
  width: 270rem;
  height: 376rem;
}

.tc02_post .tc_item .imgbox,
.tc02_post .tc_item img {
  width: 100%;
}
.tc02_post .tc_item:nth-child(1) {
  top: 0;
  left: 286rem;
  width: 266rem;
  height: 232rem;
}
.tc02_post .tc_item:nth-child(2) {
  top: 0;
  left: 568rem;
  width: 240rem;
  height: 232rem;
}
.tc02_post .tc_item:nth-child(3) {
  top: 0;
  left: 824rem;
  width: 240rem;
  height: 232rem;
}
.tc02_post .tc_item:nth-child(4) {
  top: 248rem;
  left: 286rem;
  width: 266rem;
  height: 214rem;
}
.tc02_post .tc_item:nth-child(5) {
  top: 248rem;
  left: 568rem;
  width: 240rem;
  height: 446rem;
}
.tc02_post .tc_item:nth-child(6) {
  top: 248rem;
  left: 824rem;
  width: 426rem;
  height: 194rem;
}
.tc02_post .tc_item:nth-child(7) {
  top: 458rem;
  left: 824rem;
  width: 240rem;
  height: 236rem;
}
.tc02_post .tc_item:nth-child(8) {
  top: 458rem;
  left: 1080rem;
  width: 323rem;
  height: 236rem;
}
.tc02_post .tc_item:nth-child(9) {
  top: 0;
  left: 1080rem;
  width: 266rem;
  height: 232rem;
}
.tc02_post .tc_item:nth-child(10) {
  top: 0;
  left: 1362rem;
  width: 358rem;
  height: 232rem;
}
.tc02_post .tc_item:nth-child(11) {
  top: 248rem;
  left: 1266rem;
  width: 240rem;
  height: 194rem;
}
.tc02_post .tc_item:nth-child(12) {
  top: 248rem;
  left: 1522rem;
  width: 198rem;
  height: 194rem;
}
.tc02_post .tc_item:nth-child(13) {
  top: 458rem;
  left: 1419rem;
  width: 301rem;
  height: 236rem;
}

.tc02_txt01 {
  margin-left: 66rem;
  color: #f8eec9;
  font-size: 26rem;
  line-height: 34rem;
  font-weight: 700;
  font-family: "Hahmlet";
  white-space: nowrap;
}
.tc02_txt02 {
  position: absolute;
  bottom: 51rem;
  left: 12rem;
  color: #f8eec9;
  font-size: 26rem;
  line-height: 34rem;
  font-weight: 700;
  font-family: "Hahmlet";
}

/* tc03 */
.tc03_post .tc_item .imgbox,
.tc03_post .tc_item img {
  width: 100%;
}
.dtl_body .cont_box.tc03 {
  height: 596rem;
  margin-bottom: 74rem;
}

.tc03_plan .tc_item {
  top: 0;
  left: 0;
  width: 270rem;
  height: 376rem;
}

.tc03_post .tc_item:nth-child(1) {
  top: 0;
  left: 500rem;
  width: 266rem;
  height: 290rem;
}
.tc03_post .tc_item:nth-child(2) {
  top: 0;
  left: 286rem;
  width: 198rem;
  height: 290rem;
}
.tc03_post .tc_item:nth-child(3) {
  top: 0;
  left: 782rem;
  width: 320rem;
  height: 290rem;
}

.tc03_post .tc_item:nth-child(4) {
  top: 306rem;
  left: 283rem;
  width: 266rem;
  height: 290rem;
}
.tc03_post .tc_item:nth-child(5) {
  top: 392rem;
  left: 0;
  width: 268rem;
  height: 204rem;
}
.tc03_post .tc_item:nth-child(6) {
  top: 306rem;
  left: 565rem;
  width: 320rem;
  height: 290rem;
}

.tc03_post .tc_item:nth-child(7) {
  top: 306rem;
  left: 901rem;
  width: 229rem;
  height: 290rem;
}

.tc03_post .tc_item:nth-child(8) {
  top: 0;
  left: 1118rem;
  width: 294rem;
  height: 290rem;
}
.tc03_post .tc_item:nth-child(9) {
  top: 0;
  left: 1428rem;
  width: 292rem;
  height: 290rem;
}

.tc03_post .tc_item:nth-child(10) {
  top: 306rem;
  left: 1146rem;
  width: 266rem;
  height: 290rem;
}
.tc03_post .tc_item:nth-child(11) {
  top: 306rem;
  left: 1428rem;
  width: 292rem;
  height: 290rem;
}

.tc03_txt01 {
  position: absolute;
  bottom: -74rem;
  left: 50%;
  color: #f8eec9;
  font-size: 26rem;
  line-height: 34rem;
  font-weight: 700;
  font-family: "Hahmlet";
  white-space: nowrap;
  transform: translateX(-50%);
}

/* tc04 */
.tc04_post .tc_item {
  padding: 32rem 24rem;
}
.tc04_post .tc_item .imgbox,
.tc04_post .tc_item img {
  width: 100%;
}
.dtl_body .cont_box.tc04 {
  height: 652rem;
}

.tc04_plan .tc_item {
  top: 0;
  left: 0;
  width: 270rem;
  height: 376rem;
}

.tc04_post .tc_item:nth-child(1) {
  top: 0;
  left: 286rem;
  width: 882rem;
  height: 290rem;
}
.tc04_post .tc_item:nth-child(2) {
  top: 0;
  left: 1184rem;
  width: 536rem;
  height: 290rem;
}
.tc04_post .tc_item:nth-child(3) {
  top: 306rem;
  left: 286rem;
  width: 709rem;
  height: 346rem;
}
.tc04_post .tc_item:nth-child(4) {
  top: 306rem;
  left: 1011rem;
  width: 709rem;
  height: 346rem;
}

/* tc05 */
.tc05_post .tc_item .imgbox,
.tc05_post .tc_item img {
  width: 100%;
}
.dtl_body .cont_box.tc05 {
  height: 640rem;
}

.tc05_plan .tc_item {
  top: 0;
  left: 0;
  width: 270rem;
  height: 376rem;
}

.tc05_post .tc_item:nth-child(1) {
  top: 0;
  left: 286rem;
  width: 220rem;
  height: 312rem;
}
.tc05_post .tc_item:nth-child(2) {
  top: 0;
  left: 522rem;
  width: 220rem;
  height: 312rem;
}
.tc05_post .tc_item:nth-child(3) {
  top: 0;
  left: 758rem;
  width: 962rem;
  height: 312rem;
}

.tc05_post .tc_item:nth-child(4) {
  top: 328rem;
  left: 286rem;
  width: 220rem;
  height: 312rem;
}
.tc05_post .tc_item:nth-child(5) {
  top: 328rem;
  left: 522rem;
  width: 220rem;
  height: 312rem;
}
.tc05_post .tc_item:nth-child(6) {
  top: 328rem;
  left: 758rem;
  width: 962rem;
  height: 312rem;
}

.tc05_txt01 {
  margin-left: 80rem;
  color: #f8eec9;
  font-size: 26rem;
  line-height: 34rem;
  font-weight: 700;
  font-family: "Hahmlet";
  white-space: nowrap;
}
.tc05_txt02 {
  position: absolute;
  bottom: 72rem;
  left: 0;
  color: #f8eec9;
  font-size: 20rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Hahmlet";
}

/* tc06 */
.tc06_post .tc_item {
  padding: 32rem 24rem;
}
.tc06_post .tc_item .imgbox,
.tc06_post .tc_item img {
  width: 100%;
}
.dtl_body .cont_box.tc06 {
  height: 690rem;
}

.tc06_plan .tc_item {
  top: 0;
  left: 0;
  width: 270rem;
  height: 376rem;
}

.tc06_post .tc_item:nth-child(1) {
  top: 0;
  left: 286rem;
  width: 512rem;
  height: 416rem;
}
.tc06_post .tc_item:nth-child(2) {
  top: 0;
  left: 839rem;
  width: 891rem;
  height: 690rem;
}

.tc06_txt01 {
  position: absolute;
  bottom: 140rem;
  left: 0;
  color: #f8eec9;
  font-size: 26rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Hahmlet";
}

/* tcall */
.dtl_body .cont_box.epilogue {
  height: 677rem;
}

.epilogue .epilogue_item {
  display: flex;
  position: absolute;
}
.epilogue .epilogue_item .imgbox,
.epilogue .epilogue_item img {
  width: 100%;
}
.epilogue .epilogue_item img {
  object-fit: cover;
}

.epilogue_blank .epilogue_item:nth-child(1) {
  top: 0;
  left: 0;
  width: 256rem;
  height: 330rem;
}
.epilogue_blank .epilogue_item:nth-child(2) {
  top: 346rem;
  left: 0;
  width: 256rem;
  height: 331rem;
}

.epilogue_post .epilogue_item:nth-child(1) {
  top: 0;
  left: 272rem;
  width: 266rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(2) {
  top: 231rem;
  left: 272rem;
  width: 266rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(3) {
  top: 462rem;
  left: 272rem;
  width: 266rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(4) {
  top: 0;
  left: 554rem;
  width: 340rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(5) {
  top: 231rem;
  left: 554rem;
  width: 162rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(6) {
  top: 231rem;
  left: 732rem;
  width: 162rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(7) {
  top: 461rem;
  left: 554rem;
  width: 340rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(8) {
  top: 0;
  left: 910rem;
  width: 266rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(9) {
  top: 231rem;
  left: 910rem;
  width: 266rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(10) {
  top: 462rem;
  left: 910rem;
  width: 266rem;
  height: 215rem;
}
.epilogue_post .epilogue_item:nth-child(11) {
  top: 0;
  left: 1192rem;
  width: 256rem;
  height: 331rem;
}
.epilogue_post .epilogue_item:nth-child(12) {
  top: 347rem;
  left: 1192rem;
  width: 256rem;
  height: 330rem;
}
.epilogue_post .epilogue_item:nth-child(13) {
  top: 0;
  left: 1464rem;
  width: 256rem;
  height: 331rem;
}
.epilogue_post .epilogue_item:nth-child(14) {
  top: 347rem;
  left: 1464rem;
  width: 256rem;
  height: 330rem;
}

.fp-responsive .ico_scroll {
  display: none;
}

@media (max-width: 1280px) {
  html {
    font-size: 1px;
  }
  .fp-responsive .header {
    position: absolute;
  }
  .fp-responsive .inner_center {
    padding-top: 100rem;
    padding-bottom: 100rem;
  }

  .fp-responsive .fp-section,
  .fp-responsive .fp-tableCell {
    height: auto !important;
  }

  .ico_scroll {
    display: none;
  }

  .fp_sec01 {
    flex-direction: column;
  }
  .fp_sec01 .txtbox {
    flex: none;
    width: 100%;
    margin: 0 0 30rem 0;
  }
  .fp_sec01 .txtbox .tit br {
    display: none;
  }
  .fp_sec01 .imgbox {
    margin: 0 auto;
  }
  .fp_sec01 .imgbox img {
    max-width: 100%;
  }

  .fp_sec02 {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30rem;
    padding-right: 30rem;
  }
  .fp_sec02 .active_team {
    width: calc(50% - 12rem);
  }
  .fp_sec02 .active_map {
    order: 0;
    width: 100%;
    height: 0;
    padding-bottom: 78.6%;
    margin-bottom: 50rem;
  }
  .fp_sec02 .active_map .map_img:nth-child(1) {
    background-image: url(../images/m_sec02_map01.png);
  }
  .fp_sec02 .active_map .map_img:nth-child(2) {
    background-image: url(../images/m_sec02_map02.png);
  }
  .fp_sec02 .active_map .map_img:nth-child(3) {
    background-image: url(../images/m_sec02_map03.png);
  }
  .fp_sec02 .active_map .map_img:nth-child(4) {
    background-image: url(../images/m_sec02_map04.png);
  }
  .fp_sec02 .active_map .map_img:nth-child(5) {
    background-image: url(../images/m_sec02_map05.png);
  }
  .fp_sec02 .active_map .map_img:nth-child(6) {
    background-image: url(../images/m_sec02_map06.png);
  }
  .fp_sec02 .active_team > li .imgbox {
    width: 120rem;
  }
  .fp_sec02 .active_team > li .txtbox .total {
    font-size: 24rem;
  }

  [class*="fp_sec03"].inner_center,
  [class*="fp_sec04"].inner_center {
    padding-top: 0;
  }

  .dtl_head {
    height: auto;
    padding: 30rem;
  }
  .dtl_body {
    padding: 100rem 30rem;
  }

  .dtl_body .title_flex {
    flex-direction: column;
  }
  .dtl_body .title_flex .view_all {
    margin: 30rem 0 0 0;
  }

  .dtl_body .cont_box {
    width: 100%;
    max-width: 640rem !important;/* 추가 수정*/
    height: auto !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .dtl_body .cont_box .tc_item,
  .dtl_body .cont_box .epilogue_item {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 30rem 0 !important;
  }

  .tc01_txt01 {
    top: 100%;
    bottom: auto;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    white-space: normal;
  }
  .tc02_txt01 {
    width: 100%;
    margin: 30rem 0 0 0;
    white-space: normal;
    text-align: center;
  }

  .tc02_txt02 {
    top: 100%;
    bottom: auto;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 22rem;
  }

  .tc03_txt01 {
    top: 100%;
    bottom: auto;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    white-space: normal;
  }

  .tc05_txt01 {
    margin: 30rem 0 0 0;
    width: 100%;
    text-align: center;
    white-space: normal;
  }

  .tc05_txt02 {
    top: 100%;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .tc06_txt01 {
    top: 100%;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .epilogue_blank {
    width: 100%;
    text-align: center;
  }

    
  /* 2024-1111*/
  .fp_sec04 .dtl_body .cont_box{
    display: grid !important;
    flex-direction: column;
  }
  .fp_sec04 .dtl_body .cont_box .tc_item, 
  .fp_sec04 .dtl_body .cont_box .epilogue_item {
    width: 50% !important;
  }
  .fp_sec04 .dtl_body .cont_box .tc_item img{
    width: 100%;
  } 
  .epilogue_post{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .epilogue_blank {
    display:flex;
  }
  .epilogue .epilogue_item .imgbox, .epilogue .epilogue_item img {
    width: 100%;
    height: 100%;
  }
  
}

@media (max-width: 767px) {
  .header {
    padding: 0 16rem;
  }
  .fp-responsive .inner_center {
    padding-top: 80rem;
    padding-bottom: 80rem;
  }

  .fp_sec01 {
    padding-left: 15rem;
    padding-right: 16rem;
  }
  .fp_sec01 .txtbox .tag {
    font-size: 15rem;
    line-height: 23rem;
  }
  .fp_sec01 .txtbox .tit {
    font-size: 32rem;
  }
  .fp_sec01 .txtbox .txt {
    margin-top: 32rem;
    font-size: 16rem;
  }

  .fp_sec02 {
    flex-direction: column;
    padding-left: 16rem;
    padding-right: 16rem;
  }
  .fp_sec02 .active_team {
    width: 100%;
  }
  .fp_sec02 .active_team + .active_team {
    margin-top: 56rem;
  }
  .fp_sec02 .active_team > li .tagbox .txt {
    font-size: 16rem;
  }

  .dtl_body {
    padding: 50rem 16rem;
  }
  .dtl_body .title_flex .title_box {
    flex-direction: column;
    width: 100%;
    padding: 40rem 20rem;
  }
  .dtl_body .title_flex .title_box .title {
    flex: none;
    font-size: 18rem;
  }
  .dtl_body .title_flex .title_box .title_p {
    margin: 12rem 0 0 0;
    font-size: 15rem;
  }
  .dtl_body .cont_box .tc_item .txt_img {
    flex-direction: column;
  }
  .dtl_body .cont_box .tc_item .imgbox img {
    width: 100%;
  }


}