/*lnb*/

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #3d352f !important; color:#fff; font-size:18px;}
	
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; }
    .sidebar-menu > li > a {
      padding: 17px 5px 17px 15px;
      display: block;/*
      border-left: 3px solid transparent;*/ 
      color: #fff; }
      .sidebar-menu > li > a > .fa {
        width: 20px; }
    .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {      
      color: #fff;
      background: #3d352f;/*
      border-left-color: #3c8dbc;*/ }
    .sidebar-menu > li .label,
    .sidebar-menu > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
  .sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 20px;
    font-size: 16px;
    color: #4b646f;
    background: #1a2226; }
  .sidebar-menu li > a > .fa-angle-down {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 0px; }
  .sidebar-menu li.active > a > .fa-angle-down {
    transform: rotate(-180deg); }
  .sidebar-menu li.active > .sidebar-submenu { 
    display: block; }
  .sidebar-menu a {
    color: #000;
    text-decoration: none; }
  .sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 0px;
    background: #fff; }/*
    .sidebar-menu .sidebar-submenu .sidebar-submenu {
      padding-left: 10px; }*/
    .sidebar-menu .sidebar-submenu > li > a {
      padding: 15px 5px 15px 20px;
      display: block;
      font-size: 16px;
      color: #000; }
      .sidebar-menu .sidebar-submenu > li > a > .fa {
        width: 20px; }
      .sidebar-menu .sidebar-submenu > li > a > .fa-angle-down,
      .sidebar-menu .sidebar-submenu > li > a > .fa-angle-up {
        width: auto; }
    .sidebar-menu .sidebar-submenu > li.active > a/*, .sidebar-menu .sidebar-submenu > li > a:hover*/{
      color: #fff !important; background:#b4875b;}
			.sidebar-menu .sidebar-submenu > li > a:hover{ color:#b4875b}
			 .sidebar-menu .sidebar-submenu > li > ul > li.active > a/*, .sidebar-menu .sidebar-submenu > li > a:hover*/{
      color: #b4875b !important;font-weight:normal ; }
			

	.sidebar-menu > li > ul > li{ border-bottom:1px solid #e7e7e7;}
	.sidebar-menu > li > ul > li > ul { background:#f2f2f2 !important;  padding:10px 0 !important}
	.sidebar-menu > li > ul > li > ul > li > ul{ background:#f2f2f2 !important;}
	.sidebar-menu > li > ul > li > ul > li a{ background:none !important; color:#444 !important; padding:7px 5px 7px 20px !important; font-size:14px !important }
	.sidebar-menu > li > ul > li > ul > li a:hover{ color:#b4875b !important;}
	.sidebar-menu > li > ul > li > ul > li.active a{ color:#b4875b !important;}
	.sidebar-menu > li > ul > li > ul > li > ul > li a{ background:none !important; color:#ccc !important}
	
	.fa-angle-left{}
