@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
	--white: #ffffff;
	--white-hover: #F1F1F1;
	--primary: var(var(--blue-03));
	--primary-hover: var(var(--blue-02));
	--secondary: var(--orange-01);
	--secondary-hover: var(--orange-01);
	--success: #1BA459;
	--info: #6685FF;
	--warning: #FFCB13;
	--danger: #E74958;
	--red: #ff0000;
	--blue-01: #002F77;
	--blue-02:#2549B7;
	--blue-03:#2D76F7;
	--blue-04:#3BABFF;
	--orange-01:#FF683D;
	--orange-02:#D74944;
	--gray: #FDFDFD;
	--gray-01: #E3E3E3;
	--gray-02: #F0F0F0;
	--gray-03: #787878;
	--gray-04: #002F77;
	--gray-05: #0A0A0A;
	--text-gray: #9A9A9A;
	--text-gray-02: #BCBCBC;
	--text-normal: #545454;
	--text-black: #3E3A39;
	--text-light: 300;
	--text-bold: 700;
	--text-xs: 10px;
	--radius: 8px;
	--fix-sm: 100px;
	--fix-md: 110px;
	--fix-lg: 250px;
	--vh: 100%;
}
/* html{height:100%;} */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
	overflow-y: scroll;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

button,
input,
select,
textarea {
	font-size: 10px;
	font-family: 'Pretendard', sans-serif;
	color:#0a0a0a;
}

body {
	font-family: 'Pretendard', sans-serif;
	font-size: 10px;
	line-height: 1.3;
	height: 100%;	
	color:#3a3a3a;
}

hr {
	display: none;
	visibility: hidden;
}

img {
	vertical-align: top;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
	color: #111;
	background: transparent;
	
}

select {
	font-size: 10px;
	vertical-align: middle;
	background: #fff
}

html:first-child select {
	padding-right: 6px;
	height: 30px;
}

/* Opera 9 & Below Fix */
option {
	vertical-align: middle;
	padding: 3px 0;
}

/* Firefox Fix */
legend {
	display: none;
	visibility: hidden;
}

em,
address {
	font-style: normal;
}

/* textarea */

textarea {
	padding: 10px;
	resize: vertical;
}

textarea:focus {
	outline: none;
}

textarea::placeholder {
	color: #c3c3c3;
}

.resize-none {
	resize: none;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input,
textarea,
button {
	line-height: 1.2;
	vertical-align: middle;
}

label {
	vertical-align: baseline;
}

*:first-child+html table {
	border-collapse: initial;
	border-spacing: 1;
	box-sizing: border-box;
}

table {
	border-spacing: 0;
	border-collapse: separate;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
	padding: 0;
}

li,
p {
	background-image: url('');
	/* line-height:1em */
}

caption,
.hidden {
	text-indent: -9900px;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0 !important;
}

/* icons */
[class^="icon"] {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-indent: -9999px;
    cursor: pointer;
    border: none;
}

.icon-hamburger {
    background: url("../images/icon-hamburger.svg") no-repeat;
    width: 40px;
    height: 40px;
}

.icon-site-close {
    background: url("../images/icon-site-close.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-down {
    background: url("../images/icon-down.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.icon-gallery {
    background: url("../images/icon-gallery.svg") no-repeat;
    width: 48px;
    height: 48px;
}

.icon-more {
    background: url("../images/icon-more.svg") no-repeat;
    width: 48px;
    height: 48px;
}

.icon-arrow {
    background: url("../images/icon_arrow.svg") no-repeat;
    width: 48px;
    height: 48px;
}